# .htaccess for ^blog.mistiwolanski\.com$

# URL HANDLING
Options -Indexes +FollowSymLinks -MultiViews

#set directory index
DirectoryIndex index.html

RewriteOptions inherit
<Files .htaccess>
order allow,deny
deny from all
</Files>

# ErrorDocument 400 /error/400/
# ErrorDocument 401 /error/401/
# ErrorDocument 403 /error/403/
ErrorDocument 404 /error/404/
# ErrorDocument 405 /error/405/
# ErrorDocument 500 /error/500/
# ErrorDocument 504 /error/504/